body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 640px;
    padding: 30px 20px;
    margin: 0 auto;
}

.cover {
    border-radius: 4px;
    display: block;
    width: 36%;
}

button {
    width: 100%;
}

